.contact__page {
   padding: 5% 0;
}
.contact__container {
   width: 100%;
   background-color: rgb(61, 61, 66);
}
.contact__body {
   position: relative;
   display: flex;
   flex-direction: column;
}
.contact__content {
   padding: 2%;
}
.contact__body-title {
   position: absolute;
   width: 100%;
   top: -13px;
   text-align: center;
   @extend %flexSpaceCenter;
   gap: 20px;
}
.contact__body-social {
   position: absolute;
   width: 100%;
   bottom: -20px;
   text-align: center;
   @extend %flexSpaceCenter;
   gap: 20px;
}
.left-line {
   border-bottom: 3px solid $yellow;
   width: 100%;
   flex: 1 1 auto;
}
.right-line {
   border-bottom: 3px solid $yellow;
   width: 100%;
   flex: 1 1 auto;
}
.contact__socil-list {
   @extend %flexSpaceCenter;
   gap: 15px;
}
.contact__title {
   position: relative;
   flex: 1 0 auto;
}
.contact__content-cards {
   @extend %flexCenter;
   flex-wrap: wrap;
   gap: 20px;
   padding: 7% 0;
}
.contact__card {
   @extend %flexCenter;
   background-color: rgb(33, 34, 39);
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
   border-radius: 20px;
   padding: 2% 2.5%;
   gap: 15px;
}
.contact__card-title-link {
   color: $yellow;
   @include adaptiveFont(23, 19);
   @extend %fontStyleRegular;
}