.main-screen__page {
   padding-top: 98px;
}
.main-screen__body {
   align-items: center;
   @media screen and (max-width: 768px) {
      flex-wrap: wrap;
   }
}
.main-screen__content {
   @extend %flexColumns;
   gap: 20px;
   padding-left: 5%;
   @media screen and (max-width: 768px) {
      text-align: center;
      align-items: center;
   }
}
.main-screen__title {
   color: $white;
   font-family: $font-family;  
   @include adaptiveFont(26, 22);
   @extend %fontStyleMedium;
   span {
      font-family: 'Roboto Slab', serif;
      @include adaptiveFont(35, 30);
      font-weight: 500;
      color: $yellow;
   }
}
.main-screen__subtitle {
   color: $white;
   font-family: $font-family;  
   @include adaptiveFont(22, 18);
   font-style: normal;
   font-weight: 500;
   line-height: 30px;
}
.main-screen__button {
   @extend %btnHoverBorder;
   min-width: 230px;
   padding: 1.5% 1%;
   &:hover {
      opacity: 0.6;
      background-color: $yellow;
   }
}
.main-screen__button-link {
   color: $yellow;
   font-family: $font-family;  
   @include adaptiveFont(22, 18);
   @extend %fontStyleMedium;
}
.main-screen__button:hover .main-screen__button-link {
   color: $black;
}
.main-screen__image {
   width: 100%;
}
.main-screen__image-img {
   width: 100%;
   opacity: 0.3;
}