.main-screen__page {
}
.animated__page {
}
.main-screen__container {
}
.main-screen__body {
   align-items: center;
   @media screen and (max-width: 768px) {
      flex-wrap: wrap;
   }
}
.main-screen__content {
   @extend %flexColumns;
   gap: 20px;
   padding-left: 5%;
   @media screen and (max-width: 768px) {
      text-align: center;
      align-items: center;
   }
}
.main-screen__content-title {
}
.main-screen__title {
   color: #FFF;
   font-family: $font-family;  
   @include adaptiveFont(26, 22);
   font-style: normal;
   font-weight: 500;
   line-height: 24px;
   span {
      font-family: 'Roboto Slab', serif;
      @include adaptiveFont(35, 30);
      font-weight: 500;
      color: rgb(255, 200, 107);
   }
}
.main-screen__content-subtitle {
}
.main-screen__subtitle {
   color: #FFF;
   font-family: $font-family;  
   @include adaptiveFont(22, 18);
   font-style: normal;
   font-weight: 500;
   line-height: 30px;
}
.main-screen__button {
   border: 2px solid rgb(255, 200, 107);
   border-radius: 10px;
   background-color: inherit;
   text-align: center;
   min-width: 230px;
   padding: 1.5% 1%;
   &:hover {
      opacity: 0.6;
   }
}
.main-screen__button-link {
   color: rgb(255, 200, 107);
   font-family: $font-family;  
   @include adaptiveFont(22, 18);
   font-style: normal;
   font-weight: 500;
   line-height: 24px;
}
.main-screen__image {
   width: 100%;
}
.main-screen__image-img {
   width: 100%;
   opacity: 0.5;
}