.portfolio__page {
   background-color: rgb(49, 51, 59);
}
.portfolio__content-cards {
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
   gap: 30px;
   padding-bottom: 1.5%;
   @media screen and (max-width: 425px) {
      gap: 15px;
      padding-bottom: 3%;
   }
}
.portfolio__card {
   position: relative;
   flex: 0 1 30%;
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
   @media screen and (max-width: 630px) {
      flex: 1 1 40%;
   }
   @media screen and (max-width: 425px) {
      flex: auto;
   }
}
.portfolio__card-images {
   width: 100%;
   position: relative;
   &:after {
      content: "";
      backdrop-filter: blur(2px);
      background-color: rgba(255, 255, 255, 0.1);
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
   }
}
.portfolio__img {
   width: 100%;
}
.portfolio__card-content {
   background-color: rgba(49, 51, 59, 0.7);
   position: absolute;
   bottom: -10%;
   height: 100%;
   width: 100%;
   @extend %flexCenter;
   flex-direction: column;
   opacity: 0;
   transition: bottom 0.6s, opacity 0.3s;
}
.portfolio__card:hover .portfolio__card-content {
   bottom: 0;
   opacity: 1;
}
.touched {
   bottom: 0;
   opacity: 1;
}
.portfolio__card-title {
   color: $white;
   @include adaptiveFont(24, 18);
   @extend %fontStyleRegular;
}
.portfolio__subtitle {
   color: $white;
   @include adaptiveFont(20, 16);
   @extend %fontStyleLight;
   -webkit-line-clamp: 4;
   -webkit-box-orient: vertical;
   display: -webkit-box;
   overflow: hidden;
   text-overflow: ellipsis;
   @media screen and (max-width: 724px) {
      -webkit-line-clamp: 2;
   }
   @media screen and (max-width: 425px) {
      -webkit-line-clamp: 3;
   }
}
.portfolio__card-btn {
   @extend %btnHoverYellow;
   &:hover {
      @extend %btnHoverBorder;
   }
}
.portfolio__card-btn-link {
   color: $black;
   @include adaptiveFont(20, 16);
   @extend %fontStyleLight;
}
.portfolio__card-btn:hover .portfolio__card-btn-link {
   color: $yellow;
}
.portfolio__content-button {
   width: 100%;
   @extend %flexCenter;
}
.portfolio__content-btn {
   border-radius: 10px;
   background-color: $yellow;
   border: 2px solid $yellow;
   text-align: center;
   min-width: 230px;
   padding: 1.5% 1%;
   color: $black;
   @include adaptiveFont(20, 16);
   @extend %fontStyleLight;
   &:hover {
      @extend %btnHoverBorder;
   }
}