.stack__page {
   background-color: rgb(49, 51, 59);
}
.stack__cards {
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
   gap: 30px;
   @media screen and (max-width: 350px) {
      gap: 15px;
   }
}
.stack__card {
   background-color: rgb(61, 62, 66);
   border-radius: 20px;
   padding: 34px 24px 30px 24px;
   @extend %flexCenter;
   flex-direction: column;
   flex: 1 1 23%;
   gap: 24px;
   &:hover {
      background-color: $yellow;
      animation-name: jump;
      animation-duration: 0.7s;
      animation-iteration-count: infinite;
   }
   @keyframes jump {
      0% {
          transform: translateY(0);
      }
      50% {
          transform: translateY(-20px);
      }
      100% {
          transform: translateY(0);
      }
  }
}
.stack__card-image {
   text-align: center;
}
.stack__card-content-title {
   color: $white;
   @extend %fontStyleRegular;
   @include adaptiveFont(22, 18);
}