.stack__page {
   background-color: rgb(49, 51, 59);
}
.stack__container {
}
.stack__body {
}
.stack__content {
   padding: 3.5% 0;
   width: 100%;
}
.stack__content-title {
   text-align: center;
   margin-bottom: 30px;
}
.stack__title {
   color: #FFF;
   font-family: 'Roboto Slab', serif;
   @include adaptiveFont(35, 30);
   font-style: normal;
   font-weight: 500;
   line-height: 24px;
}
.stack__cards {
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
   gap: 30px;
   @media screen and (max-width: 350px) {
      gap: 15px;
   }
}
.stack__card {
   background-color: rgb(61, 62, 66);
   border-radius: 20px;
   padding: 34px 24px 30px 24px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   gap: 24px;
   flex: 0 1 23%;
   &:hover {
      background-color: rgb(255, 200, 107);
      animation-name: jump;
      animation-duration: 0.7s;
      animation-iteration-count: infinite;
   }
   @keyframes jump {
      0% {
          transform: translateY(0);
      }
      50% {
          transform: translateY(-20px);
      }
      100% {
          transform: translateY(0);
      }
  }
}
.stack__card-image {
   text-align: center;
}
.stack__card-img {
}
.stack__card-content {
}
.stack__card-content-title {
   color: #FFF;
   font-family: $font-family;  
   @include adaptiveFont(22, 18);
   font-style: normal;
   font-weight: 400;
   line-height: 30px;
}